@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    position: absolute;
    z-index: 1500;
    color: white;
    padding: 10px 0;
}

* {
  scrollbar-width: none !important;
  scrollbar-color: #ffffff #ffffff !important;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 53px;
    position: fixed;
    top: 0;
    z-index:3000;
    padding: 10px 0;
    
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-grow: 1; 
    margin-right: -413px;
    top: 0px;
    position: relative;
}

.nav-links a.active {
    color: #F37423;
    font-weight: 600;
}


#nav-logo {
    height: 30px;
    width: auto;
    padding-left: 64px;
    position: relative;
    top: 2px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}


nav.scrolled {
    background-color: rgba(20, 25, 45, 1.0); 
    transition: background-color 0.3s ease; 
}




.header-text{
    position: absolute;
    top: 39px;
    left: 58px;
}
.header-text h2{
    position: absolute;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 300;
    top: 71px;
}
.header-text1 h2{
    position: absolute;
    font-family: 'Roboto';
    font-size: 19px;
    left: 137px;
    font-weight: 300;
    top: 110px;
}

.header-text h1{
    font-size: 50px;
    position: relative;
    top: 135px;
}

.header-text h1::before {
    content: "●";
    color: #F57C00;
    position: absolute;
    left: 59px;
    top: -78px;
    font-size: 16px;
}


.header-text p{
    font-size: 15px;
    position: relative;
    font-family: 'Syne', sans-serif;
    top: 113px;
    color: #e1e1e1;
    line-height: 30px;
    max-width: 707px;
    letter-spacing: 0.2px;
    text-align: justify;
}

.text-blue {
    color: #F57C00; 
    font-family: 'Satisfy';
}



/* ========= sections 1 ========== */

.full-width-card {
    width: 100%;
    height: 612px;
    background-color: #f7f7f7;
    top: 446px;
    position: absolute;
}

.background-img{
    overflow: hidden;
}

.background-img img{
    width: 100vw;
}



/* ===== 3 IMAGES ===== */

.three-image{
    position: absolute;
    top: -32px;
}


/* ===== Animation for Images ===== */
.square-image-2, .square-image-3, .square-image-4,.square,.square-image-5, .square-image-6, .square-image-7, .description, .description-2,.description-3, .contact-card {
    opacity: 0; /* Initially hidden */
    transform: translateX(-100%); /* Positioned off-screen to the left */
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
}

/* Active state when in view */
.in-view {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to original position */
}








.square-image-2 {
    width: 616px;
    height: 365px;
    background-image: url('Image/company.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 103px;
    top: 88px;
    z-index: 900;
    border-top-left-radius: 120px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 5px;
}

.square-image-3 {
    width: 379px;
    height: 252px;
    background-image: url('Image/employee.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 379px;
    top: 315px;
    z-index: 901;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.square-image-4 {
    width: 363px;
    height: 312px;
    background-image: none;
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 373px;
    top: 309px;
    z-index: 900;
    border-top-left-radius: 86px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
}




/* ===== 1 DESCRIPTION ===== */

.description {
    width: 50%; 
    margin-left: auto; 
    padding: 40px;
    box-sizing: border-box;
}

.description .text-B{
    color: #2F327D;
}
.description .text-O {
    color: #F57C00;
}

.description h2{
   
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.description h3 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 800;
    LETTER-SPACING: 1PX;
    position: absolute;
    top: 86px;
}

.description p {
    font-family: 'Syne', sans-serif;
    color: #041D38;
    line-height: 2;
    max-width: 621px;
    font-size: 16px;
    margin: 0;
    text-align: justify;
    font-weight: 400;
    position: absolute;
    top: 213px;
}

.dot-img2{
    position: absolute;
    left: 273px;
    bottom: -2px;
    z-index: 900;
}
.background-vec1{
    position: absolute;
    top: 0;
    left: 0px;
}
.background-vec2{
    position: absolute;
    bottom: -4px;
    right: 0px;
}





/* ========= sections 2 ========== */

.description-2 {
    width: 50%;
    margin-left: auto;
    padding: 40px;
    box-sizing: border-box;
    top: 615px;
    position: absolute;
    left: 63px;
}

.description-2 .text-B{
    color: #2F327D;
}
.description-2 .text-O {
    color: #F57C00;
}

.description-2 h2{
   
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.description-2 p {
    font-family: 'Syne', sans-serif;
    color: #041D38;
    line-height: 2;
    max-width: 621px;
    font-size: 16px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    position: absolute;
    top: 121px;
    text-align: justify;
}

.square{
    width: 532px;
    height: 290px;
    background-image: url('Image/office.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 843px;
    top: 657px;
    z-index: 900;
    border-top-left-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 60px;
}

.dot-img3{
    position: absolute;
    left: 1186px;
    bottom: -407px;
    z-index: 899;
}



/* ========= sections 3 ========== */

.full-width-card-2 {
    width: 100%;
    height: 472px;
    background-color: #f7f7f7;
    top: 997px;
    position: absolute;
}

.square-image-5 {
    width: 226px;
    height: 422px;
    background-image: url('Image/team-1.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 176px;
    top: 23px;
    z-index: 900;
    border-top-left-radius: 120px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
}

.square-image-6 {
    width: 205px;
    height: 205px;
    background-image: url('Image/team-A.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 425px;
    top: 23px;
    z-index: 901;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 6px;
}

.square-image-7 {
    width: 205px;
    height: 205px;
    background-image: url('Image/agile.jpg');
    background-color: #F3F3F4;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 422px;
    top: 239px;
    z-index: 900;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 130px;
    border-bottom-left-radius: 5px;
}

.description-3 {
    width: 50%; 
    margin-left: auto; 
    padding: 40px;
    position: absolute;
    left: 673px;
    box-sizing: border-box;
}

.description-3 .text-B{
    color: #2F327D;
}
.description-3 .text-O {
    color: #F57C00;
}

.description-3 h2{
   
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.description-3 h3 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 800;
    LETTER-SPACING: 1PX;
    position: absolute;
    top: 86px;
}

.description-3 p {
    font-family: 'Syne', sans-serif;
    color: #041D38;
    line-height: 2;
    max-width: 671px;
    font-size: 16px;
    margin: 0;
    text-align: justify;
    font-weight: 400;
    position: absolute;
    top: 174px;
}

.dot-img4{
    position: absolute;
    left: 278px;
    bottom: -22px;
}

.dot-img-1{
    position: absolute;
    left: 4px;
    top: 957px;
}
.dot-img-1 img{
    width :300px;
    height: 300px;
}
.dot-img-2{
    position: absolute;
    right: 5px;
    top: 1209px;
}
.dot-img-2 img{
    width :300px;
    height: 300px;
}





/* ===== CONTACT CARD ===== */

.contact-card {
    background-color: #12143E;
    width: 1098px;
    margin-bottom: 34px;
    left: 209px;
    position: relative;
    top: 1450px;
    height: 177px;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
}

.contact-card h3 {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    left: 46px;
    top: 7px;
    text-align: left;
    position: absolute;
    font-family: 'Roboto';
}

.contact-card p {
    color: #e5e5e5;
    font-size: 16px;
    line-height: 1.5;
    left: 45px;
    text-align: left;
    top: 105px;
    position: absolute;
    font-family: 'Syne', sans-serif;
}

.contact-card button {
    background-color: #F57C00;
    border: none;
    padding: 14px 19px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    font-weight: 700;
    left: 939px;
    top: 71px;
}
.contact-card button i{
    padding-left: 13px;
}

.contact-card button:hover {
    background-color: #e55;
}

.dot-img5{
    position: absolute;
    left: 1094px;
    bottom: -1116px;
    z-index: 0;
}








/* ====== Footer ====== */

.footer-container {
    position: relative;
    top: 1515px;
    display: block;
}


.footer-background {
    width: 100%; 
    position: absolute;
    top: 20px;
}

.footer-logo {
    position: absolute;
    left: 180px;
    top: 67px;
    width: 152px;
}

.content-section{
    color: #ffffff;
    position: absolute;
    top: 120px;
    height: 0px;
    max-width: 450px;
    left: 180px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}
.contact-info{
    position: absolute;
    top: 90px;
    font-size: 13px;
    font-weight: 300;
    
}

.contact-info p {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.contact-info i {
    color: #ffffff; 
}

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');

.form{
    position: relative;
    top: 31px;
}


/* footer Quick link and Services */

.quick-link li {
    position: relative;
    padding-left: 4px;
    font-size: 14px;
    top: -65px;
    left: 520px;
    font-weight: 300;
    margin-bottom: 26px;
}

.quick-link li::before {
    content: "●"; 
    color: #F57C00; 
    position: absolute;
    left: -18px;
    top: -1px;
    font-size: 16px;
}

.link-hedding{
    position: absolute;
    bottom: 11px;
    font-size: 11px;
    right: -171px;
}
.services-hedding{
    position: absolute;
    bottom: 11px;
    font-size: 11px;
    right: -417px;
}


.our-services{
    height: 0px;
}
.our-services li {
    position: relative;
    padding-left: 21px;
    font-size: 14px;
    top: -278px;
    left: 750px;
    font-weight: 300;
    margin-bottom: 26px;
}

.our-services li::before {
    content: "●"; 
    color: #F57C00; 
    position: absolute;
    left: 19px;
    top: -1px;
    font-size: 16px;
}










/* footer email */

.email-subscription {
    position: absolute;
    top: -47px;
    right: -857px;
    z-index: 1000;
}

.email-subscription h2 {
    margin: 5px 5px 21px -12px;
    font-size: 18px;
}

.email-subscription input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    width: 180px;
    height: 16px;
    text-align: center;
    font-weight: bold;
}

.email-subscription button {
    color: #FF8C00;
    border: 2px solid #ffffff;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 11px;
    top: 97px;
    width: 200px;
    font-weight: bold;
}

.email-subscription button:hover {
    background-color: #e6e6e6;
}




/* footer line */

hr {
    border: none;
    height: 1px;
    position: relative; 
    bottom: -185px; 
    background-color: #929292; 
    margin: 10px 0; 
    width: 1000px;
    right: 50px;
    
}


/* footer Copyright */

.copyright{
    position: absolute;
    left: 0px;
    color: #ffffff;
    bottom: -14px;
    font-size: 14px;
}



/* Footer social icons */

.footer-social-icons{
    position: absolute;
    top: 277px;
    display: flex;
    gap: 30px;
    width: 10px;
    padding-left: 160%;
}

.footer-social-icons a {
    color: white;
    text-decoration: none;
    font-size:16px; 
}
.footer-social-icons a:hover {
    color: #F57C00; 
}









.description, .description-2, .description-3, .contact-card {
    opacity: 0; 
    transform: translateY(60px); 
    transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
}

.description.in-view, .description-2.in-view, .description-3.in-view, .contact-card.in-view {
    opacity: 1;
    transform: translateY(0); 
}






